
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<style>
    .loca{
        margin:50px 0px;
       text-align:center;
    }
    .bt{
        margin:0px 20px;
    }
    .bt a{
        color:#8EA6B4;
        text-decoration:none;
    }
    .morehead{
        margin:30px 0px;
    }
    .s1{
        float:right;
    }
    .s1 a{
            color:#2c77ba;
            text-decoration:none;
            cursor:pointer;
    }
    .shili{
    width: 180px;
    float: left;
    margin-right: 15px;
    height: 150px;
    overflow: hidden;
    }
    .morehead li .shia{
        position: relative;
        display: block;
    }
    .morehead li .shia img{
        margin: 0;
        width: 180px;
        height: 110px;
    }
   .morehead li .shititle{
       text-decoration:none;
       color:#333;
       width:150px;
       font-size:15px;
   }
</style>
<h2>Details</h2>

<div class="container">
    <div class="image">
        <img src="~/ueditor/net/upload/image/20180507/6366128073598594169974694.png" class="img img-responsive" />
    </div>
    <div class="details">
        <div class="loca">
            <div class="btn btn-default bt" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i> 阅读 <a>5</a>
            </div>

            <div class="btn btn-default bt" href="#">
                <i class="fa fa-star" aria-hidden="true"></i> 收藏 <a>5</a>
            </div>
            <div class="btn btn-default bt" href="#">
                <i class="fa fa-reply-all" aria-hidden="true"></i> 回复
            </div>
            <div class="btn btn-default bt" href="#">
                <i class="fa fa-arrow-down" aria-hidden="true"></i> 下载
            </div>
        </div>
        
    </div>

    <div>
        <div class="morehead">
            <h3>Ta的视频<span class="s1"><a>查看更多</a></span></h3>
            <ul style="margin:0;padding:0;">
                <li class="shili">
                    <a class="shia"><img src="~/Images/s1.jpg"  class="img-responsive"/></a>
                    <a class="shititle" target="_blank" href="">天空之城 </a>
                </li>
                <li class="shili">
                    <a class="shia"><img src="~/Images/s1.jpg" class="img-responsive" /></a>
                    <a class="shititle" target="_blank" href="">天空之城事件会给我没问呢ggdgdgdgdgdgdgdgdgd</a>
                </li>
                <li class="shili">
                    <a class="shia"><img src="~/Images/s1.jpg" class="img-responsive" /></a>
                    <a class="shititle" target="_blank" href="">天空之城 </a>
                </li>
            </ul>
        </div>
    </div>
</div>
