
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<style>
    .loca{
        margin:50px 0px;
       text-align:center;
    }
    .bt{
        margin:0px 20px;
    }
    .bt a{
        color:#8EA6B4;
        text-decoration:none;
    }
</style>
<h2>Details</h2>

<div class="container">
    <div class="image">
        <img src="~/ueditor/net/upload/image/20180507/6366128073598594169974694.png" class="img img-responsive" />
    </div>
    <div class="details">
        <div class="loca">
            <div class="btn btn-default bt" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i> 阅读 <a>5</a>
            </div>

            <div class="btn btn-default bt" href="#">
                <i class="fa fa-star" aria-hidden="true"></i> 收藏 <a>5</a>
            </div>
            <div class="btn btn-default bt" href="#">
                <i class="fa fa-reply-all" aria-hidden="true"></i> 回复
            </div>
            <div class="btn btn-default bt" href="#">
                <i class="fa fa-arrow-down" aria-hidden="true"></i> 下载
            </div>
        </div>
        
    </div>


</div>
