@*@using PagedList.Mvc;
@using PagedList

@model PagedList<Guitar.ViewModel.MusicScoreCommentViewModel>*@
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<Guitar.ViewModel.MusicScoreCommentViewModel>

@{
    Layout = null;
}

<div id="articles">
    @Html.Partial("_PartialPage1", Model)
    <div style="width:100%;overflow:auto;">
        <div style="float:right">跳转到第<select id="pib"></select>页</div>
        @Ajax.Pager(Model).Options(o => o.SetId("mypager").SetPageIndexParameterName("id").SetPageIndexBoxId("pib").SetPagerItemTemplate("{0}&nbsp;")).AjaxOptions(a => a.SetUpdateTargetId("articles").EnablePartialLoading())
    </div>
    </div>
@section Scripts{@{Html.RegisterMvcPagerScriptResource();}}


@*<div class="row page-list">
    <div class="col-xs-6 col-sm-4 col-md-4 pagejiye" style="width: 100%; ">
        @Html.PagedListPager(Model, page => Url.Action("GetAllComment", "MusicScore", new { page,  Ms_id = @ViewBag.Ms_id }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions { LinkToFirstPageFormat = "首页", LinkToLastPageFormat = "尾页", MaximumPageNumbersToDisplay = 5 }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "getAllPostReply" }))
    </div>
</div>
<div class="col-xs-2 col-sm-2 col-md-2 pageje">
</div>*@



